.login-form,
.signup-form {
	display: grid;
	width: min(80%, 300px);
	margin: auto;

	padding: 1em;
	background-color: $clr4;
}

.signup-form {
	input {
		width: 100%;
	}

    .admin-toggle {
        display: flex;
        align-items: center;
        justify-self: start;

        span {
            font-size: .8em;
        }
    }
}

.login-page nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2em;

	margin-block: 100px 0.5em;

	a {
		font-size: 0.8em;
		color: $clr4;

		&:hover {
			color: $clr1;
		}
	}
	a.active {
		text-decoration: underline;
		color: $clr2;
	}
}
