.board-details {
    padding-inline-start: 40px;

    .main-display {
        padding-block-start: 1.5rem;
    }

    .add-group-btn {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0;
        padding: 4px 8px;
        height: 32px;
        border: 1px solid $clr-table-shadow;
        border-radius: 4px;
        color: $clr-text;
        background-color: transparent;

        @include fontFigtree();

        &:hover {
            background-color: $clr-btn-hover;
        }
    }

}