.board-details {
    padding-inline-start: 40px;

    .main-display {
        position: relative;
        height: 100%;
        overflow-y: auto;

        .main-top-container {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 100;
            padding-block: 1.5rem 1rem;

            background-color: $clr-table-bg;
            margin-block-start: 0;
        }
    }

    .add-group-btn {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0;
        padding: 4px 8px;
        height: 32px;
        border: 1px solid $clr-table-shadow;
        border-radius: 4px;
        color: $clr-text;
        background-color: transparent;

        @include fontFigtree();

        &:hover {
            background-color: $clr-btn-hover;
        }
    }

}