.board-index {
    width: 100%;
    // overflow-x: auto; 

    .header-greeting {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 rem(20px);
        --application-border-color: #e6e9ef;
        --box-shadow-color: var(--application-border-color);
        box-shadow: 0px 3px 12px var(--box-shadow-color);
    }

    .header-greeting {
        * {
            padding: 0;
            margin: 0;
        }

        h5 {
            font-size: rem(14px);
        }

        h6 {
            font-size: rem(16px);
        }
    }

    button {
        margin-inline-end: 0;
    }
}