.board-details {
    padding-inline-start: 40px;
    min-width: max-content;
    width: 100%;

    .main-display {
        position: relative;
        // height: 100%;
        padding-block-end: 40px;
        // background-color: $clr-table-bg;

        .main-top-container {
            position: relative;
            position: sticky;
            top: 0;
            background-color: $clr-table-bg;
            width: 100%;
            z-index: 500;

            .top-sticky-wrapper {
                position: sticky;
                top: 0;
                left: 40px;
                z-index: 200;
                padding-block: 1.5rem 1rem;
                display: inline-flex;
                flex-direction: column;
                margin-block-start: 0;
            }
        }

        .add-group-btn {
            position: sticky;
            left: 40px;
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 0;
            padding: 4px 8px;
            height: 32px;
            border: 1px solid $clr-table-shadow;
            border-radius: 4px;
            color: $clr-text;
            background-color: transparent;
            // margin-block-end: 40px;

            @include fontFigtree();

            &:hover {
                background-color: $clr-btn-hover;
            }
        }
    }
}