.main-container {
    .home-page {
        display: block;
        position: relative;
        background-color: #fff;
        overflow: auto;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: rem(72px);
            margin: 1em;

            .logo {
                height: rem(36.33px);
                cursor: pointer;
                margin-inline-start: 1rem;
            }

            .header-btns {
                display: flex;
                align-items: center;
                gap: 10px;

                button {
                    margin-inline-end: 1rem;
                }

                a {
                    &.login-btn {
                        border-radius: 8px;
                        padding: 6px 12px 8px 12px;
                        background-color: transparent;
                        color: #535768;
                        font-weight: 300;
                        text-decoration: none;
                        cursor: pointer;
                        transition: color 200ms ease;

                        &:hover {
                            color: #5034FF;
                            background-color: #F0F3FF;
                        }
                    }
                }
            }

            @include for-mobile-layout {
                margin-block: 0;

                .logo {
                    height: rem(30px);
                    margin-inline-start: 0;

                }

                .header-btns {
                    gap: 0px;

                    a {
                        &.login-btn {
                            font-size: $font-size-subtitle-mobile;
                            width: rem(66px);
                        }
                    }
                }
            }
        }

        .main-display {
            display: flex;
            flex-direction: column;
            width: 98%;
            margin: 0 auto;
            padding: 1em;
            text-align: center;
            overflow: hidden;

            .titles-tags-wrapper {
                background-color: $clr-bg;
                border-radius: 3rem;

                .title {
                    line-height: 110%;
                    font-size: $font-size-large-title;
                    margin: 0;
                    margin-block-start: 4rem;
                    margin-block-end: 1rem;
                    color: #333;
                    margin-inline: 1rem;

                }

                .subtitle {
                    max-width: 540px;
                    font-size: $font-size-subtitle;
                    line-height: 2rem;
                    word-break: break-word;
                    margin: 0 auto;
                    margin-block-end: 1.5rem;
                    padding-inline: 0.5rem;
                }

                button {
                    margin: 0 auto;
                }

                p.offer {
                    font-weight: 400;
                    margin-top: 13px;
                    font-size: $font-size-tiny;
                    line-height: 110%;
                    color: #676879;
                    margin-block-end: 1rem;
                }

                @include for-mobile-layout {
                    .title {
                        font-size: $font-size-large-title-mobile;
                    }

                    .subtitle {
                        font-size: $font-size-subtitle-mobile;
                        line-height: 1.6rem;
                        margin-block-end: 0.5rem;
                        padding-inline: 1rem;
                    }

                    p.offer {
                        font-size: $font-size-tiny-mobile;
                    }
                }

                .project-types-display {
                    .assets-container {
                        img {
                            margin: 0 auto;
                            border-bottom-left-radius: 3rem;
                            border-bottom-right-radius: 3rem;
                        }
                    }
                }

            }

            .customers {

                h5 {
                    font-size: $font-size-small;
                    line-height: 32px;
                    font-weight: 400;
                    margin-block: 2rem;

                }

                .clients-logos {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    padding-inline: 0px;

                    .images-gallery {
                        height: auto;
                        display: flex;
                        justify-content: center;
                        width: 150px;
                        padding: 24px 0;

                        img {
                            max-height: 35px;
                            max-width: 118px;
                        }
                    }
                }

                @include for-mobile-layout {

                    h5 {
                        font-size: $font-size-small-mobile;
                        margin-block: 1rem;
                    }

                    .clients-logos {
                        .images-gallery {
                            padding-block: 0.8rem;

                            img {
                                max-height: 30px;
                                max-width: 100px;
                            }
                        }
                    }
                }
            }

            .videos-container {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin: auto;
                flex-wrap: nowrap;
                width: 100%;


                .work-management {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    z-index: 200;
                    margin-block-start: 2rem;
                    width: 100%;


                    .title {
                        margin-top: 32px;
                        z-index: 555;
                        position: absolute;

                        &.white {
                            color: white;
                        }

                        h2 {
                            margin-block-start: 1.5rem;
                            font-weight: 600;
                            font-size: 32px;
                            line-height: 100%;
                        }

                        img {
                            margin: 0 auto;
                            width: rem(50px);
                        }

                        button {
                            margin: 0 auto;
                            margin-block-start: 1rem;
                        }
                    }

                    video {
                        object-fit: contain;
                        width: 100%;
                    }

                    @include for-mobile-layout {
                        .title {
                            position: static;
                            margin-top: 0;


                            img {
                                width: rem(35px);
                            }

                            h2 {
                                margin-block-start: 0.5rem;
                                font-size: 1.5rem;
                            }

                            h3 {
                                font-size: 1rem;
                            }

                            &.white {
                                color: #333;
                            }

                            button {
                                margin-block-start: 0;

                                &.white {

                                    background-color: #00d2d2;
                                    color: #ffffff;
                                    // transition: opacity 0.5s ease;
                                    // margin-block-start: 1rem;
                                    margin-block-end: 1rem;

                                    span {
                                        color: #ffffff;
                                    }

                                    &:hover {
                                        background-color: #5151d5;
                                    }
                                }
                            }
                        }

                        video {
                            height: fit-content;
                            width: 100%;
                        }
                    }
                }
            }

            @media (min-width: 2000px) {
                .videos-container {
                    flex-direction: row;
                    gap: 2rem;
                }

                video {
                    height: 650px;
                }
            }
        }


        footer {
            .main-footer {
                display: flex;
                justify-content: space-between;
                margin: 0;
                margin-block-start: 3rem;
                color: rgb(255, 255, 255);
                background: rgb(31, 15, 131);
                padding-top: 64px;
                padding-bottom: 64px;
                padding-inline: 5rem;
                align-items: center;
                gap: 2rem;

                .cta-section {
                    max-width: 50%;
                    font-size: rem(52px);

                    span {
                        color: #C2B3FF;
                    }
                }

                .dev-pics {
                    min-width: 300px;
                    max-width: 500px;
                }

                button {
                    &.white {
                        transition: transform 0.5s ease-in-out;

                        span {
                            color: #333;
                        }
                    }
                }
            }

            .logo-nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-inline: 5rem;
                padding-top: 2.5rem;
                padding-bottom: 2.5rem;

                img {
                    height: rem(56.33px);
                    cursor: pointer;
                }
            }

            @include for-mobile-layout {

                .main-footer {
                    margin-block-start: 0;
                    padding-inline: 1rem;
                    padding-block: 2rem;
                    gap: 0;

                    .cta-section {
                        font-size: 1.4rem;

                        span {
                            color: #C2B3FF;
                        }
                    }

                    .dev-pics {
                        min-width: 120px;
                    }
                }

                .logo-nav {
                    flex-direction: column;
                    padding-block: 1.2rem;

                    img {
                        height: rem(40px);
                    }

                    span {
                        font-size: $font-size-regular-mobile;
                    }
                }

            }

        }

    }

    button.get-started {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 25px;
        width: rem(175px);
        height: rem(50px);
        background-color: #6161FF;
        color: #ffffff;
        font-size: 1rem;
        border-radius: 40px;
        border: none;
        font-weight: 400;
        text-align: center;
        user-select: none;
        line-height: 17px;
        gap: 0.5rem;
        cursor: pointer;
        transition: background-color 0.5s ease;

        .icon {
            transition: transform 0.4s ease;
        }

        &:hover {
            &:not(.white) {
                background-color: #5151d5;
            }

            .icon {
                transform: translateX(6px);
            }
        }

        &.white {
            background-color: #ffffff;
            color: #333;
            transition: opacity 0.5s ease;
            margin-block-start: 1rem;

            span {
                color: #333;
            }

            &:hover {
                opacity: 0.9;
            }
        }

        @include for-mobile-layout {
            font-size: 0.875rem;
            padding: 0px;
            width: rem(124px);
            height: rem(38px);
        }
    }
}