.pulse-list-header {
    position: relative;
    // @include stickyGroupTop(165px);
    @include stickyGroupTop(167px);

    display: flex;
    height: $pulse-row-height;
    @include border(block);

    .pulse-side-color {
        @include colored-border(top);
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        @include border(right);

        &.title-container {
            min-width: $pulse-title-full;
        }

        &.cmp-title-container {
            width: $table-column-width;
            // min-width: 139px;
            // padding-inline: 10px 20px;
        }

        .pulse-list-title {
            line-height: 20px;
            color: $clr-text;

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}