
.pulse-select {
    display: flex;
    @include border(left);
    padding: 9px;
    width: 33px;

    .pulse-checkbox {
        // font-size: 18px;
        margin: 0;
        scale: 1.28; // needs changing when switching checkbox

    }
}