.pulse-list-header {
    position: relative;
    @include stickyGroupTop(204px, 7);

    display: flex;
    height: $pulse-row-height;
    @include border(block);

    .sticky-horizontal-wrapper {
        display: flex;
        @include stickyHorizontalTable();
        z-index: 6;

        .pulse-side-color {
            @include colored-border(top);
        }
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        @include border(right);

        &.title-container {
            // min-width: $pulse-title-full;
            min-width: $table-column-width;
            width: $pulse-title-full;

            // @include for-mobile-layout {
            //     width: 165px;
            // }
        }

        &.cmp-title-container {
            min-width: $table-column-width;
            // min-width: 139px;
            // padding-inline: 10px 20px;
        }

        .pulse-list-title {
            line-height: 20px;
            color: $clr-text;

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        @include for-mobile-layout {
            &.title-container {
                width: $pulse-title-full-mobile;
            }

            &.cmp-title-container {
                min-width: $table-column-width-mobile;

            }
        }
    }
}