.pulse-dots-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 0.2rem;
    left: -34px;
    // top: 8px;
    // color: white;
    height: rem(25px);
    width: rem(25px);
    z-index: 80000 !important;
    cursor: pointer;

    &:hover,
    &.open {
        color: $clr-text;

        &:hover {
            background-color: #d8d9e1;
        }

        &.open {
            background-color: #CAE3FD;
        }
    }

}