.pulse-preview {
    position: relative;
    display: flex;
    // align-items: center;
    background-color: $clr-table-bg;
    height: $pulse-row-height;
    @include border(bottom);

    &:hover {
        position: relative;
        background-color: $clr-pulse-hover;
        box-shadow: 4px 3px 6px -3px $clr-table-shadow;
        cursor: pointer;
        z-index: 11;
        z-index: 5;

        .label-picker-container {
            opacity: 0.8;
        }
    }

    .pulse-side-color {
        @include colored-border();
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        @include border(right);
        height: 100%;
        color: $clr-text;

        &.pulse-dynamic-container {
            min-width: $table-column-width;
        }
    }

    .full-title-selector-container {
        display: flex;
        @include stickyHorizontalTable();
        z-index: 10;
        z-index: 4;

        &:hover {
            background-color: $clr-pulse-hover;
        }

        &:focus-within {
            outline: 1px solid $clr-btn-blue;
            background-color: $clr-btn-active-bg;
        }
    }

    &:focus-within {
        z-index: 12;
        z-index: 6;
        background-color: $clr-btn-active-bg;
    }
}