.pulse-title-message-container {


    .pulse-title-container {
        display: flex;
        align-items: center;

        padding: 0 0 0 30px;
        @include border(right);
        width: 346px;
        height: 100%;

        .pulse-title {
            font-size: $txt-font-size;
            color: $clr-text;
            line-height: 23px;
        }
    }

    .pulse-messages-container {
        display: flex;
        justify-content: center;

        width: 65px;
        color: $clr-sidebar-icon-inactive;
    }
}