.pulse-title-message-container {

    .pulse-title-container {
        display: flex;
        // align-items: center;
        @include border(right);
        height: 100%;
        padding-inline-end: 8px;
        width: 346px;

        @include for-mobile-layout {
            width: $table-column-width-mobile;
        }

        .input-container {
            display: flex;
            align-items: center;
            padding: 0 0 0 30px;
            height: 100%;
            width: 100%;
            // border: 1px dashed transparent;
            font-size: $txt-font-size;
            color: $clr-text;

            .title-input,
            .pulse-title {
                // line-height: 25px;
                line-height: 23px;

                padding: 0 2px;
                border: 1px solid transparent;
                border-radius: 4px;
            }

            .pulse-title {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                &:hover {
                    cursor: text;
                    border-color: $clr-border-color;
                }
            }

            .title-input {
                width: 100%;
                font-size: inherit;
                font-family: inherit;

                &:focus-visible {
                    background-color: $clr-table-bg;
                    border: 1px solid $clr-btn-blue;
                    // max-height: 100%;
                    outline: none;
                }

                &:hover:not(:focus-visible) {
                    background-color: $clr-border-color;
                }
            }
        }
    }

    .pulse-messages-container {
        display: flex;
        justify-content: center;
        width: 65px;
        color: #676879;
        position: relative;

        .has-updates {
            color: $clr-btn-blue;
            position: relative;
            display: flex;
            min-width: 24px;
            height: 24px;

            .update-count {
                background-color: $clr-btn-blue;
                color: white;
                position: absolute;
                left: 13px;
                top: 10px;
                line-height: 9px;
                font-size: 10px;
                font-weight: 400;
                border-radius: 10px;
                text-align: center;
                padding: 2px 4px;
            }

        }
    }
}