.board-list-side-bar {
    display: contents;
    flex-direction: column;
    margin-block-start: 0;
    margin-inline-start: 0;
    scroll-behavior: smooth;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: 1px;


    .board-side-bar-preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        width: 95%;

        .board-side-bar-link {
            display: flex;
            align-items: center;
            margin-block-start: 0;
            margin-inline-start: 0;
            text-decoration: none;
            z-index: 100;
            cursor: pointer;

            &:hover {
                background: $clr-menu-add-hover;
                border-radius: $border-radius-li;
            }

            &.active {
                background: #cce5ffad;
                border-radius: $border-radius-li;

                .board-icon {
                    color: $clr-sidebar-icon-active !important;
                }
            }

            .board-name {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin: 0;
                cursor: pointer;

                .board-name-title {
                    flex-shrink: 0;
                    flex-grow: 0;
                    width: 80%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .board-dots-actions {
                    display: none;
                    margin-inline-end: 1rem;
                    color: $clr-text;

                    .board-dots-actions.active {
                        color: inherit;
                    }
                }

                // when the line is hovered
                &:hover .board-dots-actions {
                    display: flex;
                    align-items: center;
                    border-radius: 0.2rem;
                    min-width: rem(27px);
                    height: rem(27px);
                    margin-block-start: 0;
                    cursor: pointer;

                    // and the dots are hovered
                    &:hover {
                        background-color: #d8d9e16f;
                    }

                }

                // .add-board-btn {
                //     border-radius: 0.2rem;
                //     padding: 0;
                //     margin: 0;
                //     min-width: rem(33px);
                //     height: rem(33px);
                //     background: $clr-btn-blue;
                //     color: white;

                //     i {
                //         margin: 0 auto;
                //     }
                // }

                .board-name-title {
                    display: flex;
                    align-items: center;
                    font-size: rem(14px);
                    margin: 0;
                    margin-block-start: 0;
                    margin-inline-start: 0;


                    .board-icon {
                        color: $clr-sidebar-icon-inactive;
                        top: rem(3px);
                    }

                    p {
                        color: $clr-text;
                    }
                }
            }
        }
    }
}