.board-filter-sort-actions {
    gap: 6px;

    .search-wrapper {
        .search-container {
            display: flex;
            align-items: center;
            gap: 5px;

            .icon {
                scale: 1.2;
            }

            &.hidden {
                display: none;
            }
        }

        &:hover {
            &:has(.search-input.open) {
                background-color: white;
            }
        }

        .search-label {
            position: relative;

            .search-input {
                margin: 0;
                padding: 0.5em 0.4em 0.5em rem(40px);
                margin-inline-end: 0.5rem;
                min-height: rem(32px);
                border: 1px solid $clr-border-color;
                border-radius: 0.3rem;
                font-family: 'Figtree';
                font-size: 1em;

                &:focus {
                    background-color: white;
                    border-width: 0.1px;
                    border-color: blue;
                    outline: none;
                    box-shadow: 0 0 0 0.05px rgb(21, 0, 255);
                }

            }

            &:has(.search-input.hidden) {
                .icon {
                    display: none;
                }
            }

            .icon {
                position: absolute;
                left: 5%;
                top: 25%;
                scale: 1.2;
                border: none;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    >* {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding: 4px 16px 4px 10px;
        gap: 5px;
        border-radius: $border-radius-li;

        & span {
            position: relative;
            top: 2px;
        }

        &:hover {
            cursor: pointer;
            background-color: $clr-btn-hover;
        }
    }


    .icon {
        color: $clr-sidebar-icon-inactive;
    }
}