.side-bar-container {
    &.open {
        display: flex;
        flex-direction: row;
        grid-column: 1;
        background: linear-gradient(135deg, white 5%, $clr-bg 100%);
        border-top-right-radius: 0.5rem;
        font-size: rem(14px);

        * {
            margin-inline-start: rem(8px);
            margin-block-start: rem(4px);
        }

        nav {
            width: 100%;
            margin: 0;
        }


        .home-link,
        .favorites,
        .ws-cmp {
            display: flex;
            align-items: center;
            width: 95%;
            cursor: pointer;
            padding-block-end: 4px;
            margin-block-end: rem(4px);
            border-radius: 4px;

            &:hover {
                background-color: #d8d9e16f;
            }
        }

        .home-link {
            width: 80%;
        }

        .favorites-container {
            margin: 0;

            .icon {
                // position: absolute;
                // left: 215px;
            }

            .no-boards-message {
                margin: 0;
                padding: 0;
                .title-empty {
                    display: block;
                    text-align: center;
                    margin: 0;
                }

                p.title-empty {
                    font-weight: 800;
                }

                img {
                    width: 80px;
                    margin: 0 auto;
                }

            }

            .favorites-list {
                margin: 0;
                padding: 0;
                position: relative;
            }
        }

        .border {
            background-color: $clr-border;
            width: 100%;
            height: 0.5px;
            margin-inline-start: auto;
        }

        .ws-cmp {
            font-size: rem(16px);

            .ws-icon {
                height: rem(20px);
                width: rem(20px);
                background-color: $clr-workspace-name-icon-bg;
                color: white;
                text-align: center;
                font-size: rem(14px);
                border-radius: 0.2rem;
            }

            &.closed {
                display: none;
            }
        }

        .search-add {
            display: flex;
            align-items: flex-end;
            margin-block-end: 1em;

            .search-container,
            .add-board-btn {
                position: relative;
            }

            .search-container input {
                margin: 0;
                padding: 0.5em 0.4em 0.5em rem(40px);
                margin-inline-end: 0.5rem;
                min-height: rem(32px);
                border: 1px solid $clr-border-color;
                border-radius: 0.3rem;
                font-family: 'Figtree';
                font-size: 1em;
            }

            .search-container div {
                position: absolute;
                padding: 1em;
                right: 80%;
                top: 35%;
                transform: translateY(-50%);
                border: none;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            .search-container input:focus {
                background-color: white;
                border-width: 0.1px;
                border-color: blue;
                outline: none;
                box-shadow: 0 0 0 0.05px rgb(21, 0, 255);
            }

            .add-board-btn {
                border-radius: 0.2rem;
                padding: 0;
                margin: 0;
                min-width: rem(33px);
                height: rem(33px);
                background: $clr-btn-blue;
                color: white;

                i {
                    margin: 0 auto;
                }
            }

            &.closed {
                display: none;
            }
        }

        &:hover {
            .toggle-open {
                position: absolute;
                display: flex;
                align-items: center;
                left: rem(225px);
                top: 48px;
                height: 38px;
                width: 30px;
                background-color: rgba(103, 104, 121, 0.1);
                background: #f6f7fb;
                border: none;
                border-radius: 0 8px 0 8px;
                cursor: pointer;
                transition: width 10ms ease;
                z-index: 100;
                margin: 0;
                padding: 0;

                span {
                    margin: 0;
                    padding: 0;
                }


                &:hover {
                    background-color: #EFF0F1;
                }
            }
        }
    }

    &.close {
        display: flex;
        flex-direction: row;
        grid-column: 1;
        background: linear-gradient(135deg, white 5%, $clr-bg 100%);
        border-top-right-radius: 0.5rem;
        font-size: rem(14px);
        width: rem(30px);

        nav {
            display: none;
        }

        &::after {
            left: rem(42px);
        }


        &:hover {
            .toggle-open {
                position: absolute;
                display: flex;
                align-items: center;
                left: rem(0px);
                top: 48px;
                height: 38px;
                width: 30px;
                background: #f6f7fb;
                border: none;
                border-radius: 0 8px 0 8px;
                cursor: pointer;
                margin: 0;
                padding: 0;

                span {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    padding: 0;
                }

                &:hover {
                    background-color: #EFF0F1;
                }
            }
        }
    }

    &::after {
        content: "";
        background-color: $clr-table-bg;
        position: absolute;
        top: rem(48px);
        left: rem(267px);
        height: calc(100% - 4rem);
        border-top-left-radius: 0.5rem;
        width: rem(40px);

        z-index: 8;
    }
}