.side-bar-container.open{
    display: flex;
    flex-direction: row;
    grid-column: 1;
    background: linear-gradient(135deg, white 5%, $clr-bg 100%);
    border-radius: 0.5rem;
    font-size: rem(14px);
    height: 100vh;

    * {
        margin-inline-start: rem(8px);
        margin-block-start: rem(4px);
    }

    nav {
        width: 100%;
        margin: 0;
    }

    .home-link,
    .favorites,
    .ws-cmp {
        display: flex;
        align-items: center;
        margin-block-end: rem(8px);

    }

    hr {
        display: block;
        margin-inline-start: auto;
        margin-inline-end: auto;
        border-style: inset;
        border-width: 0.5px;
        border-color: $clr-bg;
    }

    .ws-cmp {
        font-size: rem(16px);

        .ws-icon {
            height: rem(20px);
            width: rem(20px);
            background-color: $clr-workspace-name-icon-bg;
            color: white;
            text-align: center;
            font-size: rem(14px);
            border-radius: 0.2rem;
        }
    }
}