.Popover:has(.pulse-actions-list) {
    width: 180px;
}
.pulse-actions-list {
    // padding-inline: 0.5rem;
    padding-block: 0px;
    margin: 8px;

    li {
        display: flex;
        align-items: center;
        // width: rem(240px);
        padding-block: 0.4rem;
        padding-inline: 1rem;
        border-radius: $border-radius-li;
        cursor: pointer;

        .icon {
            color: $clr-sidebar-icon-inactive;
            margin-inline-end: rem(10px);
            font-size: rem(16px);
        }
        
        &:hover {
            background-color: $clr-menu-add-hover;
            cursor: pointer;
        }
    }

}