.main-container {
    --margin-inline-start-main: 0.75rem;
    display: grid;
    grid-template-columns: rem(255px) 1fr 0px;
    background-color: $clr-bg;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
    transition: grid-template-columns 0.05s ease;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

    &:has(.side-bar-container.close) {
        grid-template-columns: rem(30px) 1fr 0px;

        &:has(.side-panel.open) {
            grid-template-columns: rem(30px) 1fr 700px;
        }

        &:has(.side-panel.close) {
            grid-template-columns: rem(30px) 1fr 0px;
        }
    }


    &:has(.side-bar-container.open) {
        grid-template-columns: rem(255px) 1fr 0px;

        &:has(.side-panel.open) {
            grid-template-columns: rem(255px) 1fr 700px;
        }

        &:has(.side-panel.close) {
            grid-template-columns: rem(255px) 1fr 0px;
        }
    }




    // &:has(.side-panel.open) {
    //     // grid-template-columns: rem(270px) 1fr 700px;
    //     grid-template-columns: rem(270px) 1fr 1fr;
    //     // grid-template-columns: rem(270px) 1fr 400px;

    //     &:has(.side-bar-container.close) {
    //         grid-template-columns: rem(30px) 1fr;
    //     }

    // }

    .main {
        background-color: white;
        border-radius: 0.5rem;
        height: 100vh;
    }

    main {
        position: relative;
        overflow: auto;
        background-color: $clr-table-bg;
        margin-inline-start: var(--margin-inline-start-main);
        border-top-left-radius: 0.5rem;
    }
}