.board-list-side-bar {
    display: contents;
    flex-direction: column;
    margin-block-start: 0;
    margin-inline-start: 0;
    scroll-behavior: smooth;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: 1px;
}