    .board-details-header {
        position: relative;
        display: flex;
        flex-direction: column;
        color: $clr-text;

        .displays-list,
        .board-filter-sort-actions {
            display: flex;
            flex-direction: row;
            font-size: 14px;
            font-weight: 400;
        }

        .displays-list {
            margin-block-end: 0;
            position: relative;

            // &::before {
            //     content: '';
            //     position: absolute;
            //     bottom: 0;
            //     height: 1px;
            //     // width: 70vw;
            //     width: 100%;
            //     background-color: $clr-border;
            // }

            .main-table,
            .kanban {
                display: flex;
                align-items: center;
                font-size: 0.875rem;
                padding: 4px 20px;
                cursor: pointer;
                border-bottom: 3px solid transparent;
                border-radius: 4px;

                &.active {
                    border-color: $clr-btn-blue;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                &:hover {
                    background-color: $clr-btn-hover;
                }

                span {
                    font-size: 14px;
                }
            }

            .main-table {
                gap: 4px;
            }
        }

        .board-action-bar {
            display: flex;
            margin-block-start: 1rem;
            gap: 14px;
        }
    }
