.board-list-container {
    --margin-inline-start: 16px;
    --margin-block-end: rem(30px);
    --application-border-color: #e6e9ef;
    --box-shadow-color: var(--application-border-color);

    display: inline-block;
    position: relative;
    border-radius: rem(8px);
    width: calc(100% - var(--margin-inline-start));
    height: auto;
    margin-inline-start: var(--margin-inline-start);
    margin-block-end: var(--margin-block-end);
    margin-top: rem(16px);
    background-color: var(--secondary-background-color);
    box-shadow: 0px 3px 12px var(--box-shadow-color);
    overflow: scroll;
    scroll-behavior:smooth ;

    .recently-visited {
        display: flex;
        align-items: baseline;
        font-size: rem(16px);
        padding-block-start: rem(20px);
        padding-inline-start: rem(30px);

        .arrow-down-icon {
            cursor: pointer;
            margin-inline-end: rem(8px);
        }
    }

    .board-list {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        width: 100%;
        grid-gap: 1.25rem;
        padding: 1rem;
        padding-inline-start: 2.5rem;
        margin: 0;
    }
}