.board-header {
    display: flex;
    align-items: baseline;
    width: max-content;
    gap: 0.5rem;

    h2 {
        margin: 0;
        padding: 0;
    }

    div {
        color: #676879;
        cursor: pointer;
    }
}

.board-details-popover {
    padding: 1rem;
}