// Status colors
$clr-status-1: #fdab3d;
$clr-status-2: #00c875;
$clr-status-3: #df2f4a;
$clr-status-4: #c4c4c4;
$clr-status-5: #007eb5;
$clr-status-6: #9d50dd;

// Priority colors
$clr-priority-1: #579bfc;
$clr-priority-2: #5559df;
$clr-priority-3: #401694;
$clr-priority-4: #333333;

// General colors
$clr-bg: #eceff8;
$clr-menu-bg: #f7f9fd;
$clr-text: #323338;
$clr-header-line: #333333;
$clr-border: #d0d4e4;
$clr-table-bg: #ffffff;
$clr-table-shadow: #c3c6d4;
$clr-pulse-hover: rgb(245, 246, 248);

// Buttons and Active States
$clr-btn-blue: #0073ea;
$clr-btn-blue-light: #cce5ff;
$clr-btn-hover: rgba(103, 104, 121, 0.1); // 10% opacity
$clr-menu-add-hover: #F1F1F2; // 10% opacity
$clr-btn-active-bg: #cce5ff;

// Sidebar Icons
$clr-sidebar-icon-inactive: #676879;
$clr-sidebar-icon-active: #323338;

// Workspace Specific colors
$clr-workspace-name-icon-bg: #579bfc;
$clr-workspace-text-blue: #0073ea;


// Borders
$border-radius-li: 0.3rem;


// Breakpoints - needs modifying
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// Sizes
$pulse-row-height: 36px;
$txt-font-size: 14px;