.groups-container {
    .group-list {
        padding-inline-start: 6px;
        margin-block-start: 0;

        .group {
            margin-block-end: 28px;

            @include for-mobile-layout {
                margin-block-end: 15px;
            }
        }
    }
}