.group-title-header {
    position: relative;
    display: flex;
    align-items: center;
    height: $pulse-row-height;

    left: -2px; // to middle it when table color side border is added


    .collapse-group-btn {
        display: flex;
        padding: 8px;
        background-color: transparent;
        font-size: 16px;
        margin: 0;

        // on collapse, add class and :
        // transform-origin: center center;
        // transform: rotate(90deg);
        // transition: transform .2s;

    }

    .group-title {
        margin: 0;

        font-family: "Poppins","Roboto", sans-serif;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0.1px;

        //later
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;

        padding: 0 2px;

    }
}