.groups-container {
    .group-list {
        padding-inline-start: 6px;
        margin-block-start: 0;

        .group {
            margin-block-end: 28px;
        }
    }
}

.groups-container.kanban {
    .group-list {
        box-sizing: content-box;
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .group {
            display: flex;
            flex-direction: column;
            background-color: #F6F7FB;
            height: 100%;
            width: 260px;
            border-radius: 12px;

            .group-preview-kanban {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                min-height: 800px;

                .group-title {
                    color: white;
                    border-top-right-radius: 12px;
                    border-top-left-radius: 12px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0 rem(8px);
                    height: 45px;
                    opacity: 0.8;
                }

                .pulse-card {
                    margin: 0.5rem;
                    padding: 0.5rem;
                    background-color: white;
                    border-radius: 8px;
                    display: flex;
                    flex-direction: column;
                    padding: 12px;
                    border: 1px solid #d0d4e4;
                    position: relative;
                    font-size: 14px;
                    font-weight: 400;
                    transition: box-shadow 0.2s ease-in-out, min-height 0.1s ease-in-out, max-height 0.1s ease-in-out;
                    overflow: hidden;
                    cursor: pointer;

                    >* {
                        margin-block-end: 0.5rem;
                    }

                    .pulse-title {
                        font-weight: 500;
                    }

                    .status-date {
                        display: flex;
                        gap: 8px;

                        .pulse-status {
                            display: flex;
                            align-items: center;
                            height: 24px;
                            background-color: rgba(103, 104, 121, 0.1);
                            width: max-content;
                            padding-inline-end: 8px;
                            border-radius: $border-radius-li;

                            &.Working.on.it {
                                .side-color {
                                    background-color: $clr-status-1;
                                }

                                &:hover {
                                    background-color: $clr-status-1;
                                }
                            }

                            &.Stuck {
                                .side-color {
                                    background-color: $clr-status-3;
                                }

                                &:hover {
                                    background-color: $clr-status-3;
                                }
                            }

                            &.Done {
                                .side-color {
                                    background-color: $clr-status-2;
                                }

                                &:hover {
                                    background-color: $clr-status-2;
                                }
                            }

                            &.Not.Started {
                                .side-color {
                                    background-color: $clr-status-4;
                                }

                                &:hover {
                                    background-color: $clr-status-4;
                                }
                            }

                        }

                        .side-color {
                            width: 5px;
                            height: 100%;
                            margin-inline-end: 5px;
                            border-top-left-radius: $border-radius-li;
                            border-bottom-left-radius: $border-radius-li;
                        }

                        .pulse-due-date {
                            display: flex;
                            gap: 5px;
                            height: 24px;
                            background-color: rgba(103, 104, 121, 0.1);
                            width: max-content;
                            padding-inline: 8px;
                            padding-block-start: 1px;
                            border-radius: $border-radius-li;

                            &:hover {
                                background-color: #BBBECC;
                            }
                        }
                    }
                }
            }
        }
    }
}